:root {
    --black: #1B1C1D;
    --white: #ffffff;
    --red: #DB2828;
    --orange: #F2711C;
    --yellow: #FBBD08;
    --green: #21BA45;
    --teal: #00B5AD;
    --blue: #2185D0;
    --violet: #6435C9;
    --purple: #A333C8;
    --pink: #E03997;
    --brown: #A5673F;
    --gray: #767676;

    --color-gray-text01: #2f3337;
    --color-gray-text02: #545658;
    --color-gray-text03: #626669;
    --color-gray-ui01: #e7e8ea;
    --color-gray-ui02: #f5f6f7;
    --color-gray-ui03: #f9fafb;
    --color-gray-ui04: #dadcdf;
    --color-gray-ui05: #ced1d5;
    --color-gray-ui06: #afb3ba;
    --color-gray-ui07: #444444;
}