:root {
    --black: #1B1C1D;
    --white: #ffffff;
    --red: #DB2828;
    --orange: #F2711C;
    --yellow: #FBBD08;
    --green: #21BA45;
    --teal: #00B5AD;
    --blue: #2185D0;
    --violet: #6435C9;
    --purple: #A333C8;
    --pink: #E03997;
    --brown: #A5673F;
    --gray: #767676;
}